<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop = "http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <aop:config >
        <aop:aspect id="log" ref="logging">
            <aop:pointcut id="selectAll"
                          expression = "execution(* hello.*.*(..))"/>
            <aop:before pointcut-ref = "selectAll" method = "beforeAdvice"/>
            <aop:after pointcut-ref = "selectAll" method = "afterAdvice"/>
            <aop:after-returning pointcut-ref = "selectAll"
                                 returning = "retVal" method = "afterReturningAdvice"/>

            <aop:after-throwing pointcut-ref = "selectAll"
                                throwing = "ex" method = "AfterThrowingAdvice"/>
         </aop:aspect>

        <aop:aspect id="swearWord" ref="swearWordFilter">
            <aop:pointcut id="swearFilter"
                          expression="execution(* hello.GreetingService.*(..)) and args(name)"/>
            <aop:before pointcut-ref="swearFilter" method="beforeAdvice" arg-names="name"/>
        </aop:aspect>
    </aop:config>

    <bean id="swearWordFilter" class="hello.SwearWordAspect"/>
    <bean id="logging" class="hello.Logging"/>

</beans>
